@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/proxima-nova-soft-sb-regular-58d702ae2b45d.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/proxima-nova-alt-thin-58d702c4d846c.otf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/proxima-nova-alt-bold-58d706102677c.otf");
  font-weight: 700;
  font-style: normal;
}