@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/proxima-nova-soft-sb-regular-58d702ae2b45d.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/proxima-nova-alt-thin-58d702c4d846c.otf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/proxima-nova-alt-bold-58d706102677c.otf");
  font-weight: 700;
  font-style: normal;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: 2 1C 2 1D 2 18 2 19;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
figure {
  margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* {
  box-sizing: border-box;
}
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0;
  }
}
@media (min-width: 550px) {
  .container {
    width: 80%;
  }
  .column,
  .columns {
    margin-left: 4%;
  }
  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }
  .one.column,
  .one.columns {
    width: 8.027777777777779%;
  }
  .two.columns {
    width: 16.11111111111111%;
  }
  .three.columns {
    width: 24.25%;
  }
  .four.columns {
    width: 32.44444444444445%;
  }
  .five.columns {
    width: 40.69444444444445%;
  }
  .six.columns {
    width: 49%;
  }
  .seven.columns {
    width: 57.361111111111114%;
  }
  .eight.columns {
    width: 65.77777777777779%;
  }
  .nine.columns {
    width: 74.25%;
  }
  .ten.columns {
    width: 82.77777777777779%;
  }
  .eleven.columns {
    width: 91.36111111111111%;
  }
  .twelve.columns {
    width: 100%;
    margin-left: 0;
  }
  .one-third.column {
    width: 32.44444444444445%;
  }
  .two-thirds.column {
    width: 65.77777777777779%;
  }
  .one-half.column {
    width: 49%;
  }
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 12.027777777777779%;
  }
  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 20.11111111111111%;
  }
  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 28.25%;
  }
  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 36.44444444444445%;
  }
  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 44.69444444444445%;
  }
  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 53%;
  }
  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 61.361111111111114%;
  }
  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.77777777777779%;
  }
  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78.25%;
  }
  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.77777777777779%;
  }
  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.36111111111111%;
  }
  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 36.44444444444445%;
  }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.77777777777779%;
  }
  .offset-by-one-half.column {
    margin-left: 53%;
  }
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}
h1 {
  font-size: 4rem;
  line-height: 1.2;
  letter-spacing: -0.1rem;
}
h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -0.1rem;
}
h3 {
  font-size: 3rem;
  line-height: 1.3;
  letter-spacing: -0.1rem;
}
h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -0.08rem;
}
h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -0.05rem;
}
h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0;
}
@media (min-width: 550px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 4.2rem;
  }
  h3 {
    font-size: 3.6rem;
  }
  h4 {
    font-size: 3rem;
  }
  h5 {
    font-size: 2.4rem;
  }
  h6 {
    font-size: 1.5rem;
  }
}
p {
  margin-top: 0;
}
a {
  color: #1eaedb;
}
a:hover {
  color: #1da5d0;
}
.button,
button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #4f4f4f;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #4f4f4f;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}
.button:hover,
button:hover {
  color: #333;
  border-color: #777;
  outline: 0;
}
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  color: #333;
  border-color: #777;
  outline: 0;
}
.button:focus,
button:focus {
  color: #333;
  border-color: #777;
  outline: 0;
}
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #777;
  outline: 0;
}
.button.button-primary,
button.button-primary {
  color: #fff;
  background-color: #33c3f0;
  border-color: #33c3f0;
}
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #fff;
  background-color: #33c3f0;
  border-color: #33c3f0;
}
.button.button-primary:hover,
button.button-primary:hover {
  color: #fff;
  background-color: #1eaedb;
  border-color: #1eaedb;
}
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover {
  color: #fff;
  background-color: #1eaedb;
  border-color: #1eaedb;
}
.button.button-primary:focus,
button.button-primary:focus {
  color: #fff;
  background-color: #1eaedb;
  border-color: #1eaedb;
}
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #fff;
  background-color: #1eaedb;
  border-color: #1eaedb;
}
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"] {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #c1c1c1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}
textarea,
select {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #c1c1c1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus {
  border: 1px solid #33c3f0;
  outline: 0;
}
textarea:focus,
select:focus {
  border: 1px solid #33c3f0;
  outline: 0;
}
label,
legend {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
fieldset {
  padding: 0;
  border-width: 0;
}
input[type="checkbox"],
input[type="radio"] {
  display: inline;
}
label > .label-body {
  display: inline-block;
  margin-left: 0.5rem;
  font-weight: normal;
}
ul {
  list-style: circle inside;
}
ol {
  list-style: decimal inside;
  padding-left: 0;
  margin-top: 0;
}
ul {
  padding-left: 0;
  margin-top: 0;
}
ul ul,
ul ol {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}
li {
  margin-bottom: 1rem;
}
code {
  padding: 0.2rem 0.5rem;
  margin: 0 0.2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #e3e3e3;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #e1e1e1;
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
button,
.button {
  margin-bottom: 1rem;
}
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem;
}
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem;
}
.u-full-width {
  width: 100%;
  box-sizing: border-box;
}
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}
.u-pull-right {
  float: right;
}
.u-pull-left {
  float: left;
}
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #e1e1e1;
}
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both;
}
html {
  font-size: 62.5%;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Proxima Nova';
}
@import 'font-awesome.min.css';
@import url("https://www.fontify.me/wf/af83a66be5d910ef21b7df40e1dd588f");
.contain-all {
  height: 100vh;
  width: 100vw;
}
.contain-all .back-btn {
  position: absolute;
  top: 0vh;
  right: 0;
  text-decoration: none;
  padding: 2em 4em;
}
.contain-all.home-page {
  background-color: #f5f5f5;
  min-height: 100vh;
  height: auto;
}
header {
  padding: 1em;
  box-shadow: 0 0 10px #c3c3c3;
  position: fixed;
  width: 100%;
  z-index: 4;
  background-color: #fff;
}
header h3 {
  text-align: center;
  margin: 0;
}
header #trigger {
  display: none;
}
header .hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  position: fixed;
  top: 3vh;
  right: 5vw;
  height: 2em;
  width: 3em;
  transition: all 0.1s ease-in;
}
header .hamburger .line {
  background-color: #212121;
  width: 80%;
  height: 2px;
  margin: 3px auto;
  transition: all 0.1s ease-in;
}
header .side-nav {
  display: block;
  position: absolute;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 100vw;
  transition: all 0.3s ease-in-out;
}
header .side-nav .back-btn {
  position: fixed;
  top: -15vh;
  right: 0;
  transition: all 0.3s ease-in-out;
}
header .side-nav ul {
  list-style: none;
  padding: 10vh 0;
}
header .side-nav ul li {
  padding: 0;
  margin: 0;
}
header .side-nav ul li a {
  padding: 1em 2em;
  display: block;
  text-decoration: none;
}
header input:checked ~ .side-nav {
  display: block;
  left: 0;
}
header input:checked ~ .side-nav .back-btn {
  top: 0;
}
.content-wrap {
  padding: 7em 0 0;
}
.content-wrap .time-heading {
  text-align: center;
  margin-bottom: 0;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 800;
  color: #b3b3b3;
}
.content-wrap .loader-wrap {
  height: 75vh;
}
.card {
  margin: 2em 0 3em;
  overflow: hidden;
  box-shadow: 0 10px 54px -9px #d3d3d3;
}
.card .event-type {
  display: block;
  padding: 0.5em;
  text-align: right;
  border-radius: 0;
  background-color: #1eaedb;
  color: #fff;
  padding-right: 2em;
  padding-top: 1em;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.card .event-type:after {
  position: absolute;
  top: 99%;
  right: 0;
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 20px solid #1eaedb;
  border-left: 100vw solid transparent;
}
.card .details {
  padding: 1.5em 1em;
  box-shadow: 0 6px 54px -9px #d3d3d3;
  background-color: #fff;
}
.card .details small {
  margin-bottom: 1em;
  display: block;
}
.card .details small:before {
  opacity: 0.8;
}
.card .details small.hunter:before {
  content: 'Shared by ';
}
.card .details small.organizer:before {
  content: 'Hosted by ';
}
.card .details .detail-point span {
  display: inline-block;
  width: 2em;
}
.card h4 {
  margin: 0;
}
.card .tags-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  font-size: 0.7em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  opacity: 0.6;
}
.card .tags-wrap .tag {
  background-color: #1eaedb;
  border-radius: 0.5em;
  padding: 0.12em 1em;
  color: #fff;
}
.card .tags-wrap .tag:before {
  content: '#';
}
.card .btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em 0;
}
.card .btn-wrap .btn {
  display: block;
  width: 100%;
  text-align: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 1.5em;
  padding: 1em;
}
.card .btn-wrap .btn.info {
  background-image: url("./images/info.svg");
}
.card .btn-wrap .btn.form {
  background-image: url("./images/application-form.svg");
}
.card .btn-wrap .btn.comments {
  background-image: url("./images/chat.svg");
}
.fab-btn {
  position: fixed;
  background-color: #1eaedb;
  padding: 1em;
  width: 3.5em;
  height: 3.5em;
  text-align: center;
  border-radius: 50%;
  line-height: -3.5em;
  bottom: 7vh;
  right: 10vw;
  color: #fff;
  box-shadow: 0 13px 55px -9px #212121;
  z-index: 9999;
}
.fab-btn.go-up {
  bottom: 10vh;
}
.form-wrap {
  padding-top: 8vh;
}
.form-wrap .input-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 2em;
}
.form-wrap .input-wrap label {
  -webkit-box-flex: 1;
      -ms-flex: 1 30%;
          flex: 1 30%;
  padding: 0.25em 2em;
  text-align: center;
  border: 1px solid #cecece;
  margin: 0.3em 1em;
  transition: all 0.3 ease-out;
}
@media (max-width: 320px) {
  .form-wrap .input-wrap label {
    -webkit-box-flex: 1;
        -ms-flex: 1 50%;
            flex: 1 50%;
  }
}
.form-wrap .time-label {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #c1c1c1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  margin-bottom: 1em;
}
.form-wrap .time-label .placeholder {
  color: #858585;
  font-weight: 400;
}
.form-wrap input {
  display: block;
  width: 100%;
}
.form-wrap input[type='radio'] {
  display: none;
}
.form-wrap input[type='datetime-local'] {
  -webkit-transform: scale(0);
          transform: scale(0);
  position: absolute;
}
.form-wrap input:checked + label {
  border-color: #1eaedb;
  background-color: #1eaedb;
  color: #fff;
}
.form-wrap .complete-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  background-color: #fff;
  z-index: 999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  transition: 0 0.3s ease-in-out;
}
.form-wrap .complete-modal.done {
  height: 100%;
}
.form-wrap .complete-modal .gif-wrap {
  width: 90vw;
  height: 80vw;
  margin: 0 auto;
  background-image: url("./images/thumbsup.gif");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.form-wrap .complete-modal.loader-wrap {
  background-color: rgba(255,255,255,0.565);
}
.event-page {
  padding-top: 0;
}
.event-page .back-btn {
  color: #fff;
}
.event-page .header {
  padding-top: 8vh;
  color: #fff;
  padding-bottom: 1em;
  position: relative;
  background-color: #1eaedb;
}
.event-page .header h2 {
  margin: 0;
  font-weight: 600;
}
.event-page .header small {
  display: block;
  margin-bottom: 1em;
}
.event-page .header small:before {
  content: 'Hosted by ';
  opacity: 0.6;
}
.event-page .header h5 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 600;
  opacity: 0.6;
  margin-bottom: 0.5em;
}
.event-page .header .tags-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  opacity: 0.6;
}
.event-page .header .tags-wrap .tag:before {
  content: '#';
}
.event-page .header:after {
  content: '';
  z-index: 3;
  position: absolute;
  top: 99%;
  right: 0;
  display: block;
  width: 0;
  height: 0;
  border-top: 20px solid #1eaedb;
  border-left: 110vw solid transparent;
}
.event-page .content {
  background-color: #fff;
  padding: 8vh 0;
  color: #454545;
  z-index: 0;
}
.event-page .content p {
  margin: 1em 0;
}
.event-page .detail-point {
  font-size: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.event-page .detail-point > * {
  display: inline-block;
}
.event-page .detail-point .fa {
  text-align: center;
  min-width: 3em;
}
@media (max-width: 400px) {
  .event-page .detail-point {
    font-size: 1em;
  }
}
.event-page .event-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1em 0;
}
.event-page .event-stats .stat {
  text-align: center;
  width: 100%;
  padding: 0.5em 0;
}
.event-page .event-stats .stat:first-child {
  border-right: 1px solid #c3c3c3;
}
.event-page .agenda-wrap h4 {
  font-weight: 400;
  color: #1eaedb;
  margin-top: 0.5em;
}
.event-page .agenda-wrap ul {
  list-style: none;
}
.event-page .agenda-wrap ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
}
.event-page .agenda-wrap ul li time {
  width: 40vw;
  display: inline-block;
  padding: 0.5em 2em 0.5em 0;
  height: 100%;
  border-right: 1px solid #c3c3c3;
}
@media (max-width: 320px) {
  .event-page .agenda-wrap ul li time {
    width: 50vw;
  }
}
.event-page .agenda-wrap ul li span {
  display: inline-block;
  padding: 0.5em 1em;
  width: 100%;
}
.event-page .form-button {
  text-align: center;
  margin: 1em auto 2em;
}
.login-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.login-page .container {
  text-align: center;
}
.login-page .container h2 {
  font-weight: 700;
}
.login-page .container h4 {
  font-weight: 400;
}
.login-page .logo-wrap {
  height: 60vw;
  width: 60vw;
  margin-bottom: 2em;
  background-size: contain;
  background-image: url("./images/favicon_516.png");
}
.login-page .button-facebook {
  margin-top: 3em;
  background-color: #3b5998;
  border-color: #3b5998;
  width: 80vw;
}
toast {
  display: block;
  position: fixed;
  bottom: -10vh;
  left: 0;
  padding: 1em 2em;
  width: 100%;
  background-color: #1eaedb;
  color: #fff;
  transition: all 0.2s ease-in-out;
}
toast.active {
  bottom: 0;
}
.loader-wrap {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  max-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
.loader-wrap .loader {
  display: inline-block;
  width: 50px;
  height: 50px;
  position: relative;
  border: 4px solid #1eaedb;
  top: calc(50% - 50px);
  -webkit-animation: loader 2s infinite ease;
          animation: loader 2s infinite ease;
}
.loader-wrap .loader .loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #1eaedb;
  -webkit-animation: loader-inner 2s infinite ease-in;
          animation: loader-inner 2s infinite ease-in;
}
@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
